.filament-tables-header-cell-sort-icon {
    @apply h-5 w-5;
}

.filament-tables-text-column {
    @apply text-sm;
}

.filament-notifications-close-button {
    @apply h-5 w-5;
}

.filament-sidebar {
    @apply shadow-none;
}
